.container-dice{
    position: relative;
}
.img-dice{
    width: 60px;
    height: 60px;
}
.number-dice{
    position: absolute;
    left: 30px;
    top: 15px;
}
.parpadea{
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkiy-animation-name: parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
@-moz-keyframes parpadeo {
    0% {opacity: 1.0}
    50% {opacity: 1.0}
    100% {opacity: 1.0}
}
@-webkit-keyframes parpadeo {
    0% {opacity: 1.0}
    50% {opacity: 1.0}
    100% {opacity: 1.0}
}
@keyframes parpadeo {
    0% {opacity: 1.0}
    50% {opacity: 1.0}
    100% {opacity: 1.0}
}